* {
    margin: 0;
    padding: 0;
}

html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

h1, h3 {
    text-align: center;
}


#container {
    border: 1px solid black;
}

#main {
    display: flex;
    flex-direction: column;
}

/* slider styles */

#input-slider {
    align-self: center;
    display: flex;
    flex-direction: column;
}
#input-slider .slider::-webkit-slider-thumb {
    cursor: pointer;
    z-index: 3;
}
#input-slider .tooltip {
    position: absolute;
    width: 1.7em;
    height: 1.7em;
    background: #090909;
    border-radius: 50%;
    position: absolute;

}

